doctype html
html
    head
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/socket.io.js')
        script(src='/js/jquery-2.1.1.min.js')
        script(src='/js/index.js')
        title Chatroom
    body
        h1 How do I authenticate
        div
            a(href='/auth/google') Sign In with Google