body {
    padding: 3em;
    font-family:'Open Sans', sans-serif;
    font-size: 1em;
}

textarea {
    resize: none;
}

.inline-block {
    display: inline-block;
}

.top-aligned {
    vertical-align: top;
}